<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="https://bootswatch.com/4-alpha/simplex/bootstrap.min.css")
  script(src='https://unpkg.com/react@latest/dist/react.js')
  script(src='https://unpkg.com/react-dom@latest/dist/react-dom.js')
  script(src='/assets/js/babel.min.js')
  script(src='https://unpkg.com/react-router-dom/umd/react-router-dom.min.js')
  script(type='text/babel' src='/assets/js/main.js')
  //script(src='/assets/js/main.compile.js')
  link(rel="stylesheet", href="/assets/css/style.css")
  title!= title
body
  .container
    #app
  
