.login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    background: #fff;
    border-radius: 21px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.09);
    margin-top: 100px;
}
a {
    cursor: pointer;
}
.task-list {
    padding-top: 30px;
    padding-bottom: 30px;
}
.add-task {
    padding-top: 30px;
    padding-bottom: 30px;
}
